
#ribbon_panel {
	/*border: 1px solid #000000;*/
	width: 99%;
	clear: left;
	float: left;
	background-image: url(ribbon-bg.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}

#selection{
   /* border: 1px solid #00FF00;*/
	float: left;
    padding:2%;
	width: 30%;
}

#pages {
	/*border: 1px solid #00FF00;*/
	float: right;
    padding:2%;

	width: 60%;
}

/*

#fragment-1, #fragment-2, #fragment-3
{
	width: 30%;
	clear: left;
	background-image: url(ribbon-bg.png);
	background-repeat: repeat-x;*/
