table .no {font-weight:bold;border-bottom:1px solid #333333; width:25px}
table .name {font-weight:bold;border-bottom:1px solid #333333; width:150px}
table .username {font-weight:bold;border-bottom:1px solid #333333; width:80px}
table .type {font-weight:bold;border-bottom:1px solid #333333; width:100px}
table .dataset {font-weight:bold;border-bottom:1px solid #333333; width:80px}
table .phone {font-weight:bold;border-bottom:1px solid #333333; width:80px}
table .email {font-weight:bold;border-bottom:1px solid #333333; width:80px}
table .status {font-weight:bold;border-bottom:1px solid #333333; width:80px}
table .action {font-weight:bold;border-bottom:1px solid #333333; width:100px}

